<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h1 align="center">CS6320</h1>
  <h2 align="center">Exercise N1</h2>

  <h1><%= title %></h1>
    <p>Welcome to <%= title %></p><br><br>
    <p>Hello World! Welcome to CS6320. This is Exercise N1.</p>
  </body>
</html>
